@*admin girişi olmadı ise giriş sayfasına yönlendir dedik genel olarak admin girişi yok ise Adminden türeyen*@
@{
    if (Session["AdminId"] == null)
    {
        Response.Redirect("/yonetimpaneli/admingiris/");
    }

    //gezdiğimiz sayfaların adını getiriyoruz hangi sayfaya gelmiş isek o sayfanın adını alıp yazdırıyoruz renderbody üzerindeki kod içinde yazdırıyoruz
    string ControllerAd = ViewContext.RouteData.GetRequiredString("controller");
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="/TemplateFolder/AdminLayout/img/favicon.png">

    <title>@ViewBag.Title - Kurumsal Web Admin</title>

    <!-- Bootstrap CSS -->
    <link href="/TemplateFolder/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/TemplateFolder/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/TemplateFolder/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/TemplateFolder/AdminLayout/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="/TemplateFolder/AdminLayout/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="/TemplateFolder/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="/TemplateFolder/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/TemplateFolder/AdminLayout/css/owl.carousel.css" type="text/css">
    <link href="/TemplateFolder/AdminLayout/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/TemplateFolder/AdminLayout/css/fullcalendar.css">
    <link href="/TemplateFolder/AdminLayout/css/widgets.css" rel="stylesheet">
    <link href="/TemplateFolder/AdminLayout/css/style.css" rel="stylesheet">
    <link href="/TemplateFolder/AdminLayout/css/style-responsive.css" rel="stylesheet" />
    <link href="/TemplateFolder/AdminLayout/css/xcharts.min.css" rel=" stylesheet">
    <link href="/TemplateFolder/AdminLayout/css/jquery-ui-1.10.4.min.css" rel="stylesheet">

    <!--CK Editor-->
    <link href="~/Content/ckeditor/contents.css" rel="stylesheet" />
    <!--CK Editor-->
    <!--jquery.datatables sayfalama işlemi için ekledik-->
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!--jquery.datatables sayfalama-->
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>
<body>
    <!-- container section start -->
    <section id="container" class="">


        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/yonetimpaneli/" class="logo">Kurumsal <span class="lite">Web Admin</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">

                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="icon-bell-l"></i>
                            <span class="badge bg-important">@ViewBag.yorumonay</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">Bekleyen @ViewBag.yorumonay yorum bulunmaktadır</p>
                            </li>
                            @*<li>
                                    <a href="#">
                                        <span class="label label-primary"><i class="icon_profile"></i></span>
                                        Yorumları Onayla
                                        <span class="small italic pull-right">Yorum Onay</span>
                                    </a>
                                </li>*@
                            <li>
                                <a href="/Comments/Index/">Yorumları Onayla</a>
                            </li>
                        </ul>
                    </li>
                    <!-- alert notification end-->
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="/TemplateFolder/AdminLayout/img/avatar1_small.jpg">
                            </span>
                            <span class="username">@Session["AdminMail"]</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            @*<li class="eborder-top">
                                    <a href="#"><i class="icon_profile"></i> My Profile</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
                                </li>*@
                            @{ if (Session["yetki"].ToString() == "admin")
                                {
                                    <li>
                                        <a href="/Admin/Adminler/"><i class="icon_lock-open"></i>Adminler</a>
                                    </li>
                                }
                            }
                            <li>
                                <a href="/Admin/LogOut/"><i class="icon_key_alt"></i>Çıkış Yap</a>
                            </li>
                            @*<li>
                                    <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                                </li>
                                <li>
                                    <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                                </li>*@
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="" href="/yonetimpaneli/">
                            <i class="icon_house_alt"></i>
                            <span>Admin</span>
                        </a>
                    </li>
                    @{
                        if (Session["yetki"].ToString() == "admin")
                        {
                            <li>
                                <a class="" href="/Header/Index/">
                                    <i class="icon_target"></i>
                                    <span>Site Kimlik</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/Hakkimizda/Index/">
                                    <i class="icon_chat"></i>
                                    <span>Hakkımızda</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/Slider/Index/">
                                    <i class="icon_images"></i>
                                    <span>Slider</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/Contact/Index/">
                                    <i class="icon_contacts"></i>
                                    <span>İletişim</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/Services/Index/">
                                    <i class="icon_cursor"></i>
                                    <span>Hizmetler</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/MailSettings/Index/">
                                    <i class="icon_mail"></i>
                                    <span>Mail Ayarları</span>
                                </a>
                            </li>
                        }
                    }

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Blog Kayıtları</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="/Categoris/Index/">Kategoriler</a></li>
                            <li><a class="" href="/Blog/Index/">Blog Kayıtları</a></li>
                            <li><a class="" href="/Comments/Index/">Blog Yorumları</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="" href="/Admin/LogOut/">
                            <i class="icon_lock_alt"></i>
                            <span>Çıkış Yap</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-laptop"></i> Admin Paneli</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="#">@ControllerAd</a></li>
                            <li><i class="fa fa-laptop"></i>Dashboard</li>
                        </ol>
                    </div>
                </div>
                @RenderBody()
            </section>
        </section>

    </section>
    <!-- javascripts -->


    <script src="/TemplateFolder/AdminLayout/js/jquery.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/jquery-ui-1.10.4.min.js"></script>
    @*<script src="/TemplateFolder/AdminLayout/js/jquery-1.8.3.min.js"></script>*@
    <script type="text/javascript" src="/TemplateFolder/AdminLayout/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="/TemplateFolder/AdminLayout/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="/TemplateFolder/AdminLayout/js/jquery.scrollTo.min.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="/TemplateFolder/AdminLayout/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="/TemplateFolder/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <
    <script src="/TemplateFolder/AdminLayout/js/fullcalendar.min.js"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="/TemplateFolder/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="/TemplateFolder/AdminLayout/js/calendar-custom.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="/TemplateFolder/AdminLayout/js/jquery.customSelect.min.js"></script>
    <script src="/TemplateFolder/AdminLayout/assets/chart-master/Chart.js"></script>

    <!--custome script for all page-->
    <script src="/TemplateFolder/AdminLayout/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="/TemplateFolder/AdminLayout/js/sparkline-chart.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/easy-pie-chart.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/xcharts.min.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/jquery.autosize.min.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/jquery.placeholder.min.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/gdp-data.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/morris.min.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/sparklines.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/charts.js"></script>
    <script src="/TemplateFolder/AdminLayout/js/jquery.slimscroll.min.js"></script>
    <script>
        //knob
        $(function () {
            $(".knob").knob({
                'draw': function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function () {
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });</script>



    <!--CK Editor-->
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <!--CK Editor-->
    <!--jquery.datatables sayfalama işlemi için ekledik-->
    <!--jquery.datatables sayfalama-->

</body>
</html>
